<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2>Trabajador Asignado</h2>
				<span flex></span>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<jk-rating-stars class="md-dialog-stars" read-only="true" rating="8">
				</jk-rating-stars>
				<h3 class="md-dialog-title">Jorge Perez</h3>
				<div layout="row">
					<md-button flex class="md-raised md-warn" ng-click="wc.acceptWorker()">Aceptar</md-button>
					<md-button flex class="md-raised md-warn" ng-click="wc.cancelWorker($event)">Cancelar</md-button>
				</div>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>
