<div flex layout="column" class="estado">
	<div class="estado-card" ng-repeat="estado in ec.solicitud.estados">
		<div class="estado-card-title">
			{{estado.date}}
		</div>
		<div class="estado-card-wrapper">
			<div class="estado-card-text">
				{{estado.estado.nombre}}
			</div>
			<div class="estado-card-map" ng-if="estado.estado.id == 3">
				<div class="estado-card-map-wrapper" id="estado-card-map-wrapper">
				</div>
			</div>
			<div class="estado-card-finish" ng-show="estado.estado.id == 4" layout="row">
				<md-button
					flex
					ng-click="ec.terminarTrabajo()"
					class="md-raised md-warn">
					Terminar Trabajo
				</md-button>
			</div>
		</div>
	</div>
</div>
