<div flex layout="column" class="estado">
	<div class="estado-card" ng-repeat="estado in ec.solicitud.estados">
		<div class="estado-card-title">
			{{estado.date}}
		</div>
		<div class="estado-card-wrapper">
			<div class="estado-card-text">
				{{estado.description}}
			</div>
		</div>
	</div>

	<md-button
		flex="nogrow"
		ng-show="ec.solicitud.isTerminable"
		ng-click="ec.terminarTrabajo()"
		class="md-raised md-warn">
		Terminar Trabajo
	</md-button>
	<md-button
	flex="nogrow"
		ng-show="ec.solicitud.estados.length > 0 && ec.solicitud.isCancelable"
		ng-click="ec.cancelarTrabajo()"
		class="md-raised md-warn">
		Cancelar Trabajo
	</md-button>
</div>
