<div flex layout="column" class="registro" layout-padding>
	<div layout="row">
		<h3>
			Registro de Usuario
		</h3>
		<span flex></span>

		<md-button class="md-fab md-mini md-warn" ui-sref="login">
			<md-icon
				class="material-icons">
				chevron_left
			</md-icon>
		</md-button>
	</div>

	<form layout="column" ng-submit="reg.registrar()" flex>
		<md-input-container>
			<label>e-mail</label>
			<input type="email" ng-model="reg.user.email" required>
		</md-input-container>
		<md-input-container>
			<label>Nombre</label>
			<input type="text" ng-model="reg.user.name" required>
		</md-input-container>
		<md-input-container>
			<label>Apellido</label>
			<input type="text" ng-model="reg.user.lastname" required>
		</md-input-container>
		<md-input-container>
			<label>Telefono</label>
			<input type="text" ng-model="reg.user.phoneNumber" required>
		</md-input-container>

		<md-input-container>
			<label>Contraseña</label>
			<input type="password" ng-model="reg.user.usecurity.password" required>
		</md-input-container>
		<md-input-container>
			<label>Contraseña nuevamente</label>
			<input type="password" ng-model="reg.password2" required>
		</md-input-container>

		<md-button
			type="submit"
			class="md-raised md-warn">
			Listo!
		</md-button>
	</form>
</div>
