<div flex layout="column" class="login">
	<div flex layout="column">
		<div flex="90">
			<md-whiteframe
				class="login-wrapper md-whiteframe-1dp"
				layout="column"
				flex>

				<form ng-submit="lc.login()" layout="column">
					<md-input-container md-no-float class="md-block login-input">
						<input type="text" placeholder="Usuario" ng-model="lc.user.username" required>
					</md-input-container>
					<md-input-container md-no-float class="md-block login-input">
						<input type="password" placeholder="Contraseña" ng-model="lc.user.password" required>
					</md-input-container>

					<md-button
						flex
						type="submit"
						class="md-raised md-warn">
						Ingresar
					</md-button>
				</form>
			</md-whiteframe>
		</div>
		<div flex layout="column">
			<div flex layout="row" layout-align="center center">
				<a ui-sref="registro">Crear Cuenta</a>
			</div>
			<div flex layout="row" layout-align="center center">
				<a href="#">Olvide mi Contraseña</a>
			</div>
		</div>
	</div>
</div>
