<div flex layout="column" class="perfil">
	<md-card flex="noshrink" class="perfil-first" md-theme="default" md-theme-watch>
		<md-card-title flex="row">
			<div flex="70">
				<span class="md-headline">{{pc.user.name + ' ' + pc.user.lastname}}</span>
			</div>
			<div flex="30">
				<img
					ng-src="{{pc.user.uavatar.url}}"
					class="perfil-avatar"
					ng-click="pc.avatarMode = !pc.avatarMode">
			</div>
		</md-card-title>
	</md-card>

	<md-card flex="noshrink" class="pic-selector" md-theme="default" md-theme-watch ng-show="pc.avatarMode">
		<div layout="row">
			<div flex="40" layout="row">
				<input ngf-select class="ng-hide" id="input-file-id" type="file" ng-model="pc.imageFile"/>
				<label for="input-file-id" class="md-button md-raised md-primary" flex>Escoger</label>
			</div>
			<div flex="40" layout="row">
				<md-button flex class="md-raised md-primary" ng-click="pc.uploadImage()">Cambiar</md-button>
			</div>
			<div flex="20" layout="row">
				<md-button flex class="md-raised md-primary" ng-click="pc.avatarMode = !pc.avatarMode">
					<md-icon
						class="material-icons">
						close
					</md-icon>
				</md-button>
			</div>
		</div>

		<div layout="column" class="img-cropper" flex="noshrink">
			<ui-cropper
				image="pc.imageFile"
				area-type="square"
				result-image="pc.imageCropped"
				result-image-size="{w: 400, h: 400}"
				flex>
			</ui-cropper>
		</div>

	</md-card>

	<md-card flex="noshrink" class="perfil-info" md-theme="default" md-theme-watch>
		<md-input-container>
			<label>Email</label>
			<input ng-model="pc.user.email">
		</md-input-container>

		<md-input-container>
			<label>Telefono</label>
			<input ng-model="pc.user.phoneNumber">
		</md-input-container>
	</md-card>
</div>
