<div flex layout="column" class="home">
	<a class="md-button md-raised md-warn" ng-show="hc.hasServiciosPendientes" ui-sref="estado({ serviceId: hc.currentSolicitud.id })">
		<md-icon
			class="material-icons">
			warning
		</md-icon>
		Trabajo Pendiente!
	</a>

	<a
		class="md-button md-raised md-warn"
		ng-hide="hc.gotCoordinates"
		ui-sref="estado({ serviceId: hc.currentSolicitud.id })"
		ng-click="hc.getCoordinates()">
		<md-icon
			class="material-icons">
			autorenew
		</md-icon>
		Intenta de nuevo
	</a>

	<div flex layout="column" class="home-links">
		<h3 class="home-title">
			Que necesitas hoy?
		</h3>
		<md-menu
			class="home-link"
			ng-repeat="menu in hc.menuOptions">
			<a
				class="home-link-btn"
				ng-click="hc.openMenu($mdMenu, $event)">
				{{menu.name}}
			</a>
			<md-menu-content width="4">
				<md-menu-item ng-repeat="subitem in menu.serviceTypeList">
					<md-button ng-click="hc.selectOption(subitem)">
						{{subitem.name}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>

	<trabajador
		trabajador="hc.currentTrabajador"
		on-accept="hc.acceptSolicitud()">
	</trabajador>
</div>
