<div flex layout="column" class="home">
	<div flex layout="column" class="home-links">
		<h3 class="home-title">
			Que necesitas hoy?
		</h3>
		<md-menu
			class="home-link"
			ng-repeat="menu in hc.menuOptions">
			<a
				class="home-link-btn"
				ng-click="hc.openMenu($mdMenu, $event)">
				{{menu.name}}

				<p>
					--
				</p>
			</a>
			<md-menu-content width="4">
				<md-menu-item ng-repeat="subitem in menu.serviceTypeList">
					<md-button ng-click="hc.selectOption(subitem)">
						{{subitem.name}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>

	<button type="button" name="button"
			ng-click="hc.acceptarTest()">
		Ir a Estados
	</button>

	<trabajador
		trabajador="hc.currentTrabajador"
		on-accept="hc.acceptSolicitud()">
	</trabajador>
</div>
